/* .customModal{
  background-color: #121212;
  
} */

.modalx {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  background-color: #110f0f;
  width: 80%;
  height: 80%;
  z-index: 1000;
  border: 1px solid;
  box-shadow: 5px 10px;
}

@media all and (max-width: 1000px) {
  .modalx {
    width: 80%;
    height: 80%;
  }
}

@media all and (max-width: 700px) {
  .modalx {
    width: 90%;
    height: 90%;
  }
}

@media all and (max-width: 400px) {
  .modalx {
    width: 100%;
    height: 100%;
  }
}

.backButton {
  /* padding: 5px; */
  font-size: 30px;
}

.modalx .top {
  height: 10%;
  padding: 10px;
}

.modalx .middle {
  height: 80%;
  padding: 10px;
}

.modalx .bottom {
  height: 10%;
  padding: 10px;
}

.pay-button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 50px;
  width: 20%;
  height: 100%;
}
