

.leaderboard-container{
    width: 100%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: rgb(206, 221, 185); */
    /* background-image: linear-gradient(to bottom,rgb(118, 235, 118),rgb(206, 221, 185)); */
    color: white;
    background: #3241a4;
    border-radius: 15px;
}

.winner-title{
    background: white;
    color: #3241a4;
    padding: 1% 2%;
    border-radius: 15px;
    font-size: 30px;
    font-weight: 800;
}

.winner{
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding: 1% 0;
    font-size: 20px;
}

.tb{
    width: 15%;
    text-align: center;
    background-color: white;
    color: #3241a4;
    border-radius: 20px;
    font-weight: 600;
}

/* .ln{
    border-bottom: 1px solid white;
} */

.potd-btn{
 width: 200px;
 height: 50px;
 /* background: #640dce; */
 color: white;
 display: flex;
justify-content: center;
align-items: center;
 text-align: center;
 border-radius: 15px;
}

.potd-icon{
    width: 60px;
    height: 60px;
}

.potd-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4%;

}

.potd-title{
    background: white;
    color: #3241a4;
    padding: 1% 2%;
    border-radius: 15px;
    font-size: 30px;
    font-weight: 800;
}
.potd-question{
    width: 100%;
}

.potd-question-title{
    width: 100%;
}
.potd-question-title>h2{
    color: #3241a4;
    font-size: 25px;
    font-weight: 600;
}

.potd-input{
    margin-block: 3%;
    width: 100%;

}

.login-div{
    padding: 2%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.theme-lang{
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* align-items: center;
    margin: 2%; */
}

.theme{
    background: #3241a4;
    padding: 0.5% 1%;
    color: white;
    font-weight: 600;
    margin: 1% 0;
    border-radius: 10px;
}

.potd-submit{
   width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
}

.potd-submit-btn{
    width: 100px;
    height: 40px;
    background: rgb(5, 189, 5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    border-radius: 15px;
    margin: 2%;
    font-weight: 600;
}

/* .potd-submit-btn click effect */
.potd-submit-btn:active{
    background: rgb(3, 104, 3);
    color: white;
    cursor: pointer;
}

.result{
    color: black;
    font-weight: 600;
}

.error{
    color: red;
}
.score-div{
    color: #3241a4;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    font-weight: bolder;
}
.btn{
    background-color: darkcyan; /* Green */
    border: 3px solid black;
    color: white;
    padding: 30% 30%;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin:auto
  }
  .btn:hover{
    background-color: darkcyan; /* Green */
    border: 3px solid black;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    
  }

  .potd-ln{
    color: aliceblue;
  }

  @media screen and (max-width: 700px) {
    .winner-title{
        font-size: 20px;
        border-radius: 10px;
    }
    .winner{
        font-size: 15px;
    }

    .tb{
        width: 20%;
        margin: 3%;
        text-align: center;
        background-color: white;
        color: #3241a4;
        border-radius: 5px;
        font-weight: 500;
    }

    .score-div{
        font-size: 20px;
    }

    .potd-title{
        font-size: 20px;
        border-radius: 10px;
    }

    .potd-question-title>h2{
        font-size: 15px;
        margin-block: 4%;
    }
  }
  


