

.photoInput{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.que-form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    color: black;
    gap: 1rem;
}

.que-heading{
    color: #0b236b;
}

.form-container{
    min-width: 400px;
    margin: 4%;
    padding: 3%;
    background: white;
}

input{
    margin: 1%;
    width:100%;
}

label{
    width: 100%;
    font-size: 1.2rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.que-btn{
    background: #0b236b;
    padding: 2px 25px;
    color: white;
    border: none;
    border-radius: 10px;
}

.que-btn:active{
    background: white;
    color: #0b236b;
}

.loader-container {
    display: none;
    align-items: center;
    justify-content: center;
    height: 10vh;
}
.loader {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 16px;
}
.loader div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 32px;
    height: 32px;
    margin: 8px;
    border: 8px solid #3498db;
    border-radius: 50%;
    animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #3498db transparent transparent transparent;
}
.loader div:nth-child(1) {
    animation-delay: -0.45s;
}
.loader div:nth-child(2) {
    animation-delay: -0.3s;
}
.loader div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes loader {
    0%, 100% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
}
.loading-text {
    font-size: 18px;
}